.page-break {
  page-break-after: always;
}
.markdown-body {
  font-size: 11px;
}
.markdown-body pre > code {
  white-space: pre-wrap;
}
section {
  margin: 0 auto;
  font-family: system-ui;
  font-size: 11px;
}